%ul.list-group
  %li.list-group-item.list-group-item-success
    Dapibus ac facilisis in
  %li.list-group-item.list-group-item-info
    Cras sit amet nibh libero
  %li.list-group-item.list-group-item-warning
    Porta ac consectetur ac
  %li.list-group-item.list-group-item-danger Vestibulum at eros
.list-group
  %a.list-group-item.list-group-item-success{:href => "#"} Dapibus ac facilisis in
  %a.list-group-item.list-group-item-info{:href => "#"} Cras sit amet nibh libero
  %a.list-group-item.list-group-item-warning{:href => "#"} Porta ac consectetur ac
  %a.list-group-item.list-group-item-danger{:href => "#"} Vestibulum at eros
